.idea/misc.xml
.idea/modules.xml
.idea/Quimica.iml
.idea/vcs.xml
.idea/workspace.xml
TP_Quimica/TP_Equilibrio_Redox.spec
TP_Quimica/__pycache__/Imagenes.cpython-37.pyc
TP_Quimica/__pycache__/TP_Equilibrio_Redox.cpython-37.pyc
